.list-group{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
#post-event{
    float: right;
    margin-top: 2%;
    margin-right: 8%;
}
.event-card{
    margin-bottom: 2%;
}
.event-details{
    float:left;
    margin-right: 1%;
}
.event-organizer{
    margin-left: -83%;
    margin-top: 5%;
}
.event-creator-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
}
.event-image{
    float: right;
    margin-top: -10%;
    width:150px;
    height: 150px;
}
.arrows{
    width: 50px;
    height: 50px;
}
#left-arrow{
    transform: rotate(180deg);
}
.meet-section{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
background-color: #BA55D3;
}