/* html  */
body {
  font-family: "Merriweather";
  text-align: center;
  background-color: #4C4C6D;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather";
}

p {
  color: #8f8f8f;
  font-family: "Noto Sans"
}

/* Headings Section */
.big-heading {
  font-family: "Merriweather";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #FFE194;

}

.cl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fa-2x {
  padding-right: 5px;
  padding-left: 5px;
  color: #FFE194;
}

.navbar-brand {
  font-family: "Noto Sans";
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFE194;
  position: relative;
  top: 2px;

}

.navbar-brand:hover {
  color: white;
}

.title {
  text-align: left;
}










/* media */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }


}

label {
  color: #FFE194;
}

.row {
  padding: 20px;
}

.forgot {
  margin-top: 200px;
}

.forgotL {
  color: white;
}

.forgotL:hover {
  color: #FFE194;
}

.btn-sm {
  margin: 5px;
}

.modal-title {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.letEveryone {
  line-height: 1.5;
  padding: 10px;
  font-size: 13px;
}
